/* Importa a fonte 'Poppins' com peso 500 do Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Define estilos para todos os elementos (*) no documento. */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif; /* Define a fonte padrão para todos os elementos
como 'Poppins'. */
}

 /* Estilos para o corpo (body) do documento HTML. */
 body {
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background: linear-gradient(45deg, #0a0a0a #3a4452); /* Aplica um gradiente de
fundo. */
 }

 /* Estilos para a classe 'calculator'. */
.calculator {
 border: 1px solid #717377;
 padding: 20px;
 border-radius: 16px;
 background: transparent;
 box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5); /* Aplica uma sombra à caixa
 */
 }

 /* Estilos para elementos de entrada (input). */
input {
 width: 320px;
 border: none;
padding: 24px;
 margin: 10px;
 background: transparent;
 box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1); /* Aplica uma sombra à caixa de
entrada. */
 font-size: 40px;
 text-align: right;
cursor: pointer;
 color: #ffffff; /* Define a cor do texto como branco. */
 }

  /* Estilos para o placeholder do input. */
input::placeholder {
   color: #ffffff; /* Define a cor do texto do placeholder como branco. */
  }

/* Estilos para botões. */
button{
 border: none;
 width: 60px;
 height: 60px;
 margin: 10px;
 border-radius: 50%;
 background: transparent;
color: #ffffff; /* Define a cor do texto dos botões como branco. */
 font-size: 20px;
 box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1); /* Aplica uma sombra aos
botões. */
 cursor: pointer;
 }

 /* Estilos para botão com classe 'equalBtn'. */
.equalBtn {
  background-color: #fb7c14; /* Define a cor de fundo específica para essa classe. */
  }

 /* Estilos para elementos com classe 'operator'. */
.operator {
  color: #6dee0a; /* Define a cor do texto para elementos com a classe 'operator'. */
}